*{
    box-sizing: border-box;
}

.header-container {
    background-color: #120323;
}

h1 {
    text-align: right;
    color: #97bf04;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

body {
    font-family: sans-serif;
}

head {
    font-family: sans-serif;
}