*{
    box-sizing: border-box;
}

.header-container {
    background-color: #120323;
    font-family: sans-serif;
    color: #120323;
}

h1 {
    text-align: center;
    color: #97bf04;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

figure img{
    border: 5px solid #d9043d;
}

main {
    font-family: sans-serif;
}

footer {
    background-color: #d9043d;
    text-align: center;
    padding: 3rem;
    color: white;
    margin-top: 8px;
    font-family: sans-serif;
}

aside {
    background-color: #97bf04;
    padding: 5px;
    font-family: sans-serif;
}